body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  background-color: bisque;
}

.container {
  width: 30rem;
  height: 30rem;
  background-color: darkorange;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

button {
  height: 2rem;
  width: 7rem;
  background-color: rgb(253, 0, 0);
  color: white;
  border: 2px solid white;
}

select {
  height: 2rem;
  width: 7rem;
  text-align: center;
  color: red;
  background-color: white;
  border: 2px solid red;
}

button:hover {
  background-color: white;
  color: red;
  border: 2px solid red;
}

#result {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 2rem;
  height: 5rem;
  width: 12rem;
  font-size: 1.5rem;
  font-style: italic;
  border: 2px solid white;
}
